
// Font Size
$font-size:                   1.6rem;
$font-size--h1:               3rem;
$font-size--small:            0.75em;
$line-height:                 1.375em;

// Font family
$font-family:                 'Montserrat', sans-serif;

// Breakpoints
$screen-xxs:                  0px;
$screen-xs:                   555px;
$screen-sm:                   768px;
$screen-md:                   1024px;
$screen-lg:                   1280px;
$screen-xl:                   1440px;

