.sales {

  .container {
    padding: 0 20px;
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    height: 453px;
    color: white;
    flex-basis: 32%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include media (lg) {
      flex-basis: 100%;
      margin-bottom: 20px;
    }

    @include media (xs) {
      height: 300px;
    }

  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 30px;

    @include media (xs) {
      font-size: 32px;
    }
  }

  .button {
    max-width: 250px;
  }

}