.dialog {


  .container {
    @include media (lg) {
      padding: 0 !important;
    }
  }

  .button {
    max-width: 100%;


    @include media (xxs) {
      max-width: 100% !important;
      min-width: 100% !important;
    }
  }

  .input {
    width: 100%;
  }

  &__container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 170px;

    @include media (sm) {
      padding: 40px 80px;
    }

    @include media (xs) {
      padding: 20px;
    }

    @include media (xxs) {
      padding: 0;
    }
  }

  &__content {
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    padding: 55px 70px;
    align-items: center;

    @include media (lg) {
      padding: 30px;
    }

    @include media (sm) {
      display: block;
    }

    @include media (xs) {
      padding: 20px;
    }

  }

  &__text {
    color: black;
    margin-right: 70px;

    @include media (lg) {
      margin-right: 30px;
    }

    @include media (sm) {
      margin-right: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    margin-bottom: 40px;
    margin-top: 0;

    @include media (lg) {
      font-size: 25px;
      line-height: 35px;
    }

    @include media (sm) {
      text-align: center;
    }

    @include media (xs) {
      font-size: 22px;
      line-height: 120%;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 0;

    @include media (lg) {
      font-size: 20px;
    }

    @include media (sm) {
      margin-bottom: 20px;
      text-align: center;
    }

    @include media (xs) {
      font-size: 16px;
      line-height: 120%;
    }
  }

  &__inputs {
   min-width: 300px;

    @include media (xs) {
      min-width: unset;
    }
  }

  .input {
    margin-bottom: 20px;
    color: #544B4B;

    &::placeholder {
      color: #544B4B;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .button {
    margin-right: 0;
    display: block;
    width: 100%;

    @include media (sm) {
      max-width: 100%;
    }
  }

}