.about {

  .container {
    padding: 0 20px;

    @include media (md) {
      padding: 0 15px;
    }
  }

  &__container {
    display: flex;
    border: 3px solid #D2D2D2;

    @include media (sm) {
      flex-direction: column;
    }
  }

  &__img {
    flex-basis: 50%;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media (xs) {
      min-height: 400px;
    }
  }

  &__description {
    flex-basis: 50%;
    padding: 78px 74px 58px;

    @include media (xs) {
      padding: 20px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 24px;
  }

  .pluses {
    display: block;

    li {
      margin-bottom: 60px;
    }
  }
}