.search {
  width: 100%;
  padding: 11.5px 15px 11.5px 60px;
  box-shadow: none;
  outline: 0;
  border: 2px solid #DBDBDB;
  background: url("../../../images/icons/search.svg") 5% 50% no-repeat;
}