.knowledge {


  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__section {

  }

  &__content {
    flex-basis: 73%;

    @include media (sm) {
      flex-basis: 100%;
    }
  }

  &__head {
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 50px;
    border-bottom: 2px solid #DBDBDB
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    margin: 40px 0;
  }

  &__grid {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    border-bottom: 2px solid #DBDBDB;

    @include media (md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    flex-basis: 32%;
    margin-bottom: 65px;

    @include media (lg) {
      flex-basis: 49%;
    }

    @include media (xs) {
      flex-basis: 100%;
    }

  }

  &__filter {
    margin-top: 58px;
    cursor: pointer;
  }

  &__list-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 8.5px 5px;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: rgba(128, 128, 128, 0.11);
    }
  }

  &__item-img {
    height: 325px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include media (xs) {
      height: 250px;
    }
  }

  &__item-name {
    font-weight: normal;
    font-size: 24px;
    margin-top: 30px;
  }
}