.catalog {

  .sidebar {
    width: 23%;

    @include media (sm) {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include media (sm) {
      display: block;
    }
  }

  &__grid {
    width: 100%;
    margin-bottom: 20px ;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;

    @include media (md) {
      grid-template-columns: 1fr 1fr;
    }

    @include media (sm) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media (xs) {
      grid-template-columns: 1fr;
    }

  }

  &__grid-container {
    width: 74%;

    @include media (sm) {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;

    @include media (sm) {
      display: block;
    }
  }

  &__inputs {
    flex-basis: 74%;

    label {
      margin-left: 20px;

      @include media (xs) {
        margin: 0;
      }
    }

  }


  &__item {
    flex-basis: 32%;
    margin-bottom: 30px;

    &--sale {
      position: relative;

      .catalog__item-sale-cost {
        display: inline-block;
      }

      .catalog__item-cost {
        margin-left: 30px;
      }

      &:after {
        position: absolute;
        content: url("../../dist/images/icons/sale.svg");
        right: -12px;
        top: 30px;
      }
    }
  }

  &__item-img {
    height: 296px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 28px;
    width: 100%;
  }

  &__item-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__item-subtitle {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .button {
    width: 100%;

    span {
      display: block;
      width: 100%;
    }
  }
}