.about-us {

  .pluses {
      li {
        font-size: 14px;
      }
  }


  &__list {
    display: flex;
    margin-top: 120px;

    @include media (md) {
      display: block;
      margin-top: 20px;
    }

    @include media (sm) {

    }
  }

  &__img {
    width: 100%;

    @include media (sm) {
      display: none;
    }
  }

  &__image {
    flex-basis: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include media (md) {
      min-height: 400px;
      margin-bottom: 20px;
    }
  }

  .pluses {
    flex-basis: 50%;
    display: block;
    margin-left: 30px;
    margin-top: 0;

    li {
      margin-bottom: 35px;

      &:before {
        top: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media (md) {
      margin-left: 0;
    }
  }

  &__text {
    border: 2px solid #C7C7C7;
    padding: 130px 190px;

    p {
      margin-top: 0;

      @include media (md) {
        font-size: 16px;
      }

      @include media (sm) {
        font-size: 14px;
      }

      @include media (xxs) {
        font-size: 12px;
      }
    }

    @include media (lg) {
      padding: 50px;
      margin-bottom: 20px;
    }

    @include media (sm) {
      padding: 10px;
    }
  }
}