.designers {
  padding-bottom: 30px;

  .container {
    padding: 0 20px;
  }

  .button {
    width: 100%;
    max-width: 100%;

    span {
      width: 100%;
      display: block;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @include media (lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media (md) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }

    @include media (xs) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media (lg) {
      height: 300px;
    }

    @include media (sm) {
      height: 250px;
    }
  }

  &__name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 25px 0;
    text-align: center;
  }
}