.popular {
  padding-bottom: 90px;

  .button {
    width: 100%;
    margin-top: 40px;
  }

  &--with-cost {

    .popular__cost {
      display: inline-block;
    }

    .popular__cost-sale{
      display: inline-block;
    }
  }

  &__cost {
    display: none;
    font-weight: 500;
    font-size: 36px;
    color: #7B4729;
    margin-left: 30px;
  }

  &__cost-sale {
    display: none;
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: line-through;
    color: #B1B1B1;
  }

  .container {
    padding: 0 20px;
  }

  .button {
    span {
      display: block;
      width: 100%;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 24%;

    &--sale {
      position: relative;
      &:after {
        position: absolute;
        content: url("../../dist/images/icons/sale.svg");
        right: -12px;
        top: 30px;
      }
    }
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 296px;
    margin-bottom: 25px;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}